.home,
.movies {
  margin: 0;
  padding: 0;
  position: relative;
  color: #ccc;
}
.home:before,
.movies:before {
  content: 'Home';
  position: absolute;
  color: red;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}
.movies:before {
  content: 'Movies';
}
.home:hover:before,
.movies:hover:before {
  width: 100%;
}

.btn {
  padding: 8px;
  border-radius: 4px;
}
.btn:hover {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
           inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}